# Godot 4+
.godot/
.import/
*.import
*.uid
*.translation
/android/
.mono/
data_*/
*.tmp
*.log
.baseline/

_playtest/
*.ctex
playtest_out/
/_*.txt
/Abrir_HotN3_Godot.bat
/*.jpg
/*.jpeg
/*.gif
/*.webp
/*.png
/assets/cast/cast ref/
